<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465896193301-8gg3g9rderm98i6jlqnmo28rptq1nukd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465896193301-8gg3g9rderm98i6jlqnmo28rptq1nukd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465896193301-oqsc1pupear5knebim3kt5vvg6c3mvn2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmHhZgmcpAkmeKt_J95e3aF0wmTG6zCgE</string>
	<key>GCM_SENDER_ID</key>
	<string>465896193301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpageApp</string>
	<key>PROJECT_ID</key>
	<string>fan-page-app-1d39b</string>
	<key>STORAGE_BUCKET</key>
	<string>fan-page-app-1d39b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465896193301:ios:572ea83b9509368b9cfd1c</string>
</dict>
</plist>